body {
  background-color: rgb(27, 25, 25);
}
.main-header {
  height: 100vh;
}
.rise-pos {
  position: absolute;
  left: 1%;
}
.rise-property {
  color: #fff; /* Fallback for older browsers */
  color: rgba(255, 255, 255, 0.4);

  font-size: 8rem;
  font-weight: bold;
}
.img-carosul {
  background-color: rgb(27, 25, 25);
  height: 94%;
  align-items: center;
  justify-content: center;
}
.hero-content {
  height: 50%;
  background-color: rgb(27, 25, 25);
  color: #fff;
  justify-content: center;
}
.hero-img-tag {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.hero-card-body {
  flex: 0 0 auto;
}
.hero-card-title {
  font-size: 4rem;
}
.card {
  padding: 0px;
  border: none;
  /* height: 100%; */
}
.btn {
  width: 50%;
}
.manhwa-paperback {
  justify-content: flex-start;
  margin-bottom: 50px;
}
.container-fluid {
  width: 90%;
}
.paperback-heading {
  margin-top: 100px;
  margin-bottom: 24px;
  color: #fff;
}
.w-60 {
  width: 60%;
}
@media only screen and (max-width: 992px) {
  .container-fluid {
    width: 96%;
  }
  /* .img-carosul {
          flex-direction: column-reverse;
        } */
  .hero-content {
    width: 100%;
  }
  .w-60 {
    width: 75%;
  }
  .rise-pos {
    gap: 24px;
    top: -7%;
  }
}
@keyframes animate {
  0% {
    left: 0px;
    top: 200px;
  }
  /* 25% {
    left: 0px;
    top: 150px;
  }
  50% {
    left: 0px;
    top: 100px;
  }
  75% {
    left: 0px;
    top: 50px;
  } */
  100% {
    left: 0px;
    top: 0px;
  }
}
#animation_rise {
  /* background-color: yellow; */
  animation-name: animate;
  animation-duration: 4s;
}
